<div class="sidebar-wrapper">
  <ul class="nav">
    <li class="nav-item active ">
      <a class="nav-link" href="/parents/home">
        <i class="material-icons">account_balance</i>
        <p>Home</p>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/parents/timetable">
        <i class="material-icons">av_timer</i>
        <p>My Children's Timetable</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/parents/attendance">
        <i class="material-icons">assignment_ind</i>
        <p>My Children's Attendances</p>
      </a>
    </li>

    <li class="nav-item ">
      <a class="nav-link" href="#">
        <i class="material-icons">notifications</i>
        <p>Exam Result</p>
      </a>
    </li>

  </ul>
</div>
