<!DOCTYPE html>
<html lang="en">
<head>
	<title>Choose Your Role</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!====================================================================================>
		<meta property="og:image" content="https://ianlunn.github.io/Hover/hover.jpg" />
		<meta property="og:site_name" content="Hover.css"/>
		<meta property="og:title" content="Hover.css - A collection of CSS3 powered hover effects" />
		<title>Hover.css - A collection of CSS3 powered hover effects</title>
		<link href="css/demo-page.css" rel="stylesheet" media="all">
		<link href="css/hover.css" rel="stylesheet" media="all">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
		<link rel="stylesheet" href="css/hover.css">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
					<span class="login100-form-title">
						Choose Who Yours!
					</span>
					<div id="main">



					<div class="container-login100-form-btn hvr-float-shadow">
						<a href="/admin" class="btn-success" style="width: 40%; height:50px; border-radius: 20px 20px 20px 20px;">

							<center>
							<div style="padding-top: 10px; font-size: 20px">
							Admin
							</div>
							</center>

					</a>
					</div><br>

					<div class="container-login100-form-btn hvr-float-shadow">
						<a href="/parent" class="btn-success" style="width: 40%; height:50px; border-radius: 20px 20px 20px 20px;">

							<center>
							<div style="padding-top: 10px; font-size: 20px">
							User
							</div>
							</center>

					</a>
					</div><br>

					<div class="container-login100-form-btn hvr-float-shadow">
						<a href="/staff" class="btn-success" style="width: 40%; height:50px; border-radius: 20px 20px 20px 20px;">

							<center>
							<div style="padding-top: 10px; font-size: 20px">
							Staff
							</div>
							</center>

					</a>
					</div><br>

					<div class="container-login100-form-btn hvr-float-shadow">
						<a href="/teacher" class="btn-success" style="width: 40%; height:50px; border-radius: 20px 20px 20px 20px;">

							<center>
							<div style="padding-top: 10px; font-size: 20px">
							Teacher
							</div>
							</center>

					</a>
					</div>


				</div><br><br><br>
				</form>
			</div>
		</div>
	</div>


<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
