<div class="sidebar-wrapper">
  <ul class="nav">
    <li class="nav-item active ">
      <a class="nav-link" href="/teachers/home">
        <i class="material-icons">account_balance</i>
        <p>Home</p>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/teachers/manageAtt">
        <i class="material-icons">assignment</i>
        <p>Manage Attendance</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/teachers/attendance">
        <i class="material-icons">assignment_ind</i>
        <p>Attendance List</p>
      </a>
    </li>

    <li class="nav-item ">
      <a class="nav-link" href="/sexamresult">
        <i class="material-icons">notifications</i>
        <p>Exam Result</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/teachers/timetable">
        <i class="material-icons">list_alt</i>
        <p>Time Table</p>
      </a>
    </li>
  </ul>
</div>
