<div class="sidebar-wrapper">
  <ul class="nav">
    <li class="nav-item   ">
      <a class="nav-link" href="/home">
        <i class="material-icons">account_balance</i>
        <p>Home</p>
      </a>
    </li>
    <li class="nav-item  ">
    <a class="nav-link" href="/permission">
      <i class="material-icons">new_releases</i>
      <p>Permission</p>
    </a>
  </li>
    <li class="nav-item ">
      <a class="nav-link" href="/blog">
        <i class="material-icons">library_books</i>
        <p>Blog</p>
      </a>
    </li>
    <li class="nav-item  ">
      <a class="nav-link" href="/admin/students/studentlist">
        <i class="material-icons">group_add</i>
        <p>Student</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/teachers/teacherlist">
        <i class="material-icons">person_add</i>
        <p>Teacher</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/admin/subjects/subjectlist">
        <i class="material-icons">book</i>
        <p>Subject</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/attendance">
        <i class="material-icons">how_to_reg</i>
        <p>Student Attendance</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/admin/staffs/stafflist">
        <i class="material-icons">directions_walk</i>
        <p>Staff</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/examresult">
        <i class="material-icons">notifications</i>
        <p>Exam Result</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/admin/timetables/timetablelist">
        <i class="material-icons">list_alt</i>
        <p>Time Table</p>
      </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/examination">
      <i class="material-icons">library_add</i>
      <p>Examination</p>
    </a>
  </li>

    <li class="nav-item ">
    <a class="nav-link" href="/admin/parents/list">
      <i class="material-icons">wc</i>
      <p>Parent</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/remark">
      <i class="material-icons">announcement</i>
      <p>Remark</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/backup">
      <i class="material-icons">cloud_upload</i>
      <p>Back Up</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/restore">
      <i class="material-icons">cloud_download</i>
      <p>Restore</p>
    </a>
  </li>
  </ul>
</div>
